.card {
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
    border:2px black;
    border-radius: 5px; /* 5px rounded corners */
    padding:5px;
    margin:8px;
    width:300px;
  }
  .userId {
    background-color:  #e2d9d9;    
  }
  .card p {
    margin: 10px;
    padding: 10px;
  }
